<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creative It</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=DM+Sans:wght@700&family=Encode+Sans:wght@300;400&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;600;800&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./css/aos.css" />
    <link rel="stylesheet" href="./css/slick.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/responsive.css" />
  </head>
  <body id="scrollBar">
    <!-- HEADER -->
    <header class="d-lg-block d-none">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 logo">
            <a href="#"><img src="./image/logo (2).png" alt="" /></a>
          </div>
          <div class="col-lg-7">
            <div class="row align-items-center">
              <div class="header_contact col-6 d-flex align-items-center">
                <span>
                  <i class="bi bi-telephone-fill"></i>
                </span>
                <ul>
                  <li>
                    <a href="tel:01847422965">+880 1847422965</a>
                  </li>
                  <li>
                    <a href="tel:01847422959">+880 1847422959</a>
                  </li>
                </ul>
              </div>
              <div class="header_contact col-6 d-flex align-items-center">
                <span>
                  <i class="bi bi-envelope-fill"></i>
                </span>
                <ul>
                  <li>
                    <a href="mailto:ctg@creativeitinstitute.com"
                      >ctg@creativeitinstitute.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- HEADER ENDS -->

    <!-- NAVBAR SECTION -->
    <div class="fixedLogo text-center py-3 d-none">
      <a href="#">
        <img src="./image/logo (2).png" alt="" />
      </a>
    </div>
    <nav class="navbar navbar-expand-lg py-3 py-lg-0 creative_navbar">
      <div class="container">
        <a class="navbar-brand d-block d-lg-none" href="#">
          <img
            src="./image/logo (2).png"
            alt=""
            class="img-fluid"
            style="height: 50px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mycustomNav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navToggler"><i class="bi bi-list"></i></span>
        </button>
        <div
          class="collapse navbar-collapse p-3 p-lg-0 mt-3 m-lg-0"
          id="mycustomNav"
        >
          <ul class="navbar-nav d-lg-flex justify-content-lg-between">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="about.html"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="courses.html"
                >Courses</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="success.html"
                >Success Stories</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="faculties.html"
                >Our Faculties</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Dhaka Branch</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="http://127.0.0.1:5500/index.html#seminar"
                >Seminar</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- NAVBAR SECTION ENDS -->
    <main>
      <section class="breadcrum">
        <h2>Course Details</h2>
        <p>
          <a href="index.html">Home</a>
          <i class="bi bi-chevron-right"></i>
          <a class="active" href="#">Web Design</a>
        </p>
      </section>
      <section id="courseView">
        <div class="container">
          <h1 class="courseHeading">Professional Web Design</h1>
          <div class="video_container">
            <iframe
              src="https://www.youtube.com/embed/jCqKP3CHxCM?autoplay=1"
              title="Web Design with Creative It"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              loading="lazy"
              allowfullscreen="true"
            ></iframe>
          </div>
          <div class="img_container d-none">
            <img
              src="https://img.freepik.com/free-vector/cartoon-web-design-background_52683-70879.jpg"
              alt=""
            />
          </div>
          <div class="aboutCourse">
            <h3>About Course</h3>
            <p>
              The main purpose here is to make you able to use the graphic
              design tools and techniques in a professional way. Graphic Design
              helps to build the brand identity of a company. Thus, it needs to
              be conceptual and unique to represent a company, brand or any kind
              of products or services. The module is designed to cover all
              aspects of Graphic Design and it is mostly helpful for a fresher
              who can start afresh. To know more about the module, take a look
              in the highlights of the module and get insights of how we are
              conducting the course.
            </p>
          </div>
          <div class="courseFeatures">
            <h3>Course Features</h3>
            <div class="row justify-content-lg-evenly">
              <div class="col-lg-4">
                <div class="featureCard">
                  <div class="card_header">
                    <img src="./image/exampleIcon.webp" alt="" />
                    <h4>Basic</h4>
                  </div>
                  <div class="card_body">
                    <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p>
                    <p class="strick">
                      <i class="bi bi-x"></i>
                      Microsoft PowerPoint
                    </p>
                    <p class="strick">
                      <i class="bi bi-x"></i>
                      Microsoft PowerPoint
                    </p>
                     <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p>
                    <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p> <p>
                      <i class="bi bi-x"></i>
                      4 Months
                    </p>
                  </div>
                  <div class="button_container">
                    <span class="featured_btn">Read More</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="marketPlace col-lg-7">
              <h3>Market Place</h3>
              <div class="row align-items-center">
                <div class="col-6 mb-5 mb-lg-0 col-md-4 col-lg-3">
                  <img src="./image/marketplace/fiverr.webp" alt="" />
                </div>
                <div class="col-6 mb-5 mb-lg-0 col-md-4 col-lg-3">
                  <img src="./image/marketplace/freelancer.webp" alt="" />
                </div>
                <div class="col-6 mb-5 mb-lg-0 col-md-4 col-lg-3">
                  <img src="./image/marketplace/envato.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="softwares col-lg-5">
              <h3>SoftWares</h3>
              <div class="row align-items-center">
                <div class="col-6 mb-5 mb-lg-0 col-md-4 col-lg-3">
                  <img src="./image/marketplace/fiverr.webp" alt="" />
                </div>
                <div class="col-6 mb-5 mb-lg-0 col-md-4 col-lg-3">
                  <img src="./image/marketplace/freelancer.webp" alt="" />
                </div>
                <div class="col-6 mb-5 mb-lg-0 col-md-4 col-lg-3">
                  <img src="./image/marketplace/envato.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="prerequisites">
            <h3>Prerequisites</h3>
            <p>Basic Knowledge of Using Computer</p>
          </div>
          <div class="career">
            <h3>Career Opportunity</h3>
            <p>
              Here is a list of possible job opportunities for the software
              developers, designers who will complete the course. After
              completing the course and handling all project works, it is
              possible for students to build one strong portfolio and can apply
              for jobs that are open for recruitment. It is possible both in
              local and in international marketplaces. And our job placement
              cell will be there with all the supports, guidelines and grooming
              sessions for students. Thus it will help them to get confidence
              and flourish in the digital arena. The opportunities are as
              follows-
            </p>
            <p class="list">Web Designer</p>
            <p class="list">Front-End Developer</p>
            <a href="http://127.0.0.1:5500/index.html#seminar" target="__blank" class="joinSeminar">Join Seminar</a>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER STARTS HERE -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="logo">
              <img src="./image/logo.webp" alt="" />
              <h4>Creative It Institute</h4>
              <p>CHANGE I GROW I SUCCEED</p>
            </div>
          </div>
          <div class="col-lg-4 location">
            <h4>Address</h4>
            <address>
              9 No, Kapasgola Road (4th Floor), Chawk Bazar, Telpotti More,
              Chattogram 4203, Bangladesh
            </address>
          </div>

          <div class="col-lg-4 contact">
            <h4>Contact</h4>
            <p>
              <a href="mailto:ctg@creativeitinstitute.com"
                >ctg@creativeitinstitute.com</a
              >
            </p>
            <a href="tel:01847422965">+880 1847422965</a>
            <a href="tel:01847422959">+880 1847422959</a>
            <a href="tel:01847422966">+880 1847422966</a>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./js/mixitup.min.js"></script>

    <script src="./js/bootstrap.bundle.min.js"></script>

    <script src="./js/app.js"></script>
    <script></script>
  </body>
</html>
