<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creative It</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=DM+Sans:wght@700&family=Encode+Sans:wght@300;400&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;600;800&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./css/aos.css" />
    <link rel="stylesheet" href="./css/slick.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/responsive.css" />
  </head>
  <body id="scrollBar">
    <!-- HEADER -->
    <header class="d-lg-block d-none">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 logo">
            <a href="#"><img src="./image/logo (2).png" alt="" /></a>
          </div>
          <div class="col-lg-7">
            <div class="row align-items-center">
              <div class="header_contact col-6 d-flex align-items-center">
                <span>
                  <i class="bi bi-telephone-fill"></i>
                </span>
                <ul>
                  <li>
                    <a href="tel:01847422965">+880 1847422965</a>
                  </li>
                  <li>
                    <a href="tel:01847422959">+880 1847422959</a>
                  </li>
                </ul>
              </div>
              <div class="header_contact col-6 d-flex align-items-center">
                <span>
                  <i class="bi bi-envelope-fill"></i>
                </span>
                <ul>
                  <li>
                    <a href="mailto:ctg@creativeitinstitute.com"
                      >ctg@creativeitinstitute.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- HEADER ENDS -->

    <!-- NAVBAR SECTION -->
    <div class="fixedLogo text-center py-3 d-none">
      <a href="#">
        <img src="./image/logo (2).png" alt="" />
      </a>
    </div>
    <nav class="navbar navbar-expand-lg py-3 py-lg-0 creative_navbar">
      <div class="container">
        <a class="navbar-brand d-block d-lg-none" href="#">
          <img
            src="./image/logo (2).png"
            alt=""
            class="img-fluid"
            style="height: 50px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mycustomNav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navToggler"><i class="bi bi-list"></i></span>
        </button>
        <div
          class="collapse navbar-collapse p-3 p-lg-0 mt-3 m-lg-0"
          id="mycustomNav"
        >
          <ul class="navbar-nav d-lg-flex justify-content-lg-between">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="about.html"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="courses.html"
                >Courses</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="success.html"
                >Success Stories</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="faculties.html"
                >Our Faculties</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Dhaka Branch</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="http://127.0.0.1:5500/index.html#seminar"
                >Seminar</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- NAVBAR SECTION ENDS -->
    <!-- MAIN STARTS HERE -->
    <main>
      <section class="breadcrum">
        <h2>Our Faculties</h2>
        <p>
          <a href="index.html">Home</a>
          <i class="bi bi-chevron-right"></i>
          <a class="active" href="#">Faculties</a>
        </p>
      </section>

      <!-- COURSES SECTION STARTS -->
      <section id="faculties">
        <div class="container">
          <div class="faculties_filter">
            <div class="filter_buttons">
              <button type="button" data-filter="all">All</button>
              <button type="button" data-filter=".web">Web</button>
              <button type="button" data-filter=".graphics">Graphics</button>
              <button type="button" data-filter=".digital">Digital</button>
              <button type="button" data-filter=".office">Office</button>
            </div>
            <div class="filterable_container" data-aos="fade-up">
              <div class="mix web">
                <div class="faculty_card" data-aos="fade-up">
                  <div class="row justify-content-center">
                    <div class="faculty_img col-md-4">
                      <img src="./image/team/shourab.webp" alt="" />
                    </div>
                    <div class="faculty_detail col-md-6">
                      <h2 class="mt-3 mt-md-0">Faisal Ahmed Shourab</h2>
                      <span class="designation mb-4">Sr. Faculty</span>
                      <div class="row">
                        <div class="col-md-6 specialize">
                          <h4>Specialized Area</h4>
                          <p>Front End Development</p>
                          <p>Web Design</p>
                          <p>WordPress</p>
                          <p>React Js</p>
                          <p>Vue Js</p>
                          <p>Laravel</p>
                        </div>
                        <div class="col-md-6 education">
                          <h4>Education</h4>
                          <p>BBA</p>
                        </div>
                        <div class="marketplace">
                          <h4>Working Marketplaces</h4>
                          <img
                            src="https://creativeitinstitute.com/front/images/fiverr.png"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mix digital">
                <div class="faculty_card" data-aos="fade-up">
                  <div class="row justify-content-center">
                    <div class="faculty_img col-md-4">
                      <img src="./image/team/salim.webp" alt="" />
                    </div>
                    <div class="faculty_detail col-md-6">
                      <h2 class="mt-3 mt-md-0">Jakiul Hasan Salim</h2>
                      <span class="designation mb-4"
                        >Dept. Head of Digital Marketing</span
                      >
                      <div class="row">
                        <div class="col-md-6 specialize">
                          <h4>Specialized Area</h4>
                          <p>Front End Development</p>
                          <p>Web Design</p>
                          <p>WordPress</p>
                          <p>React Js</p>
                          <p>Vue Js</p>
                          <p>Laravel</p>
                        </div>
                        <div class="col-md-6 education">
                          <h4>Education</h4>
                          <p>BBA</p>
                        </div>
                        <div class="marketplace">
                          <h4>Working Marketplaces</h4>
                          <img src="./image/marketplace/upwork.webp" alt="" />
                          <img src="./image/marketplace/fiverr.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- COURSES SECTION ENDS -->
    </main>
    <!-- MAIN ENDS HERE -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="logo">
              <img src="./image/logo.webp" alt="" />
              <h4>Creative It Institute</h4>
              <p>CHANGE I GROW I SUCCEED</p>
            </div>
          </div>
          <div class="col-lg-4 location">
            <h4>Address</h4>
            <address>
              9 No, Kapasgola Road (4th Floor), Chawk Bazar, Telpotti More,
              Chattogram 4203, Bangladesh
            </address>
          </div>

          <div class="col-lg-4 contact">
            <h4>Contact</h4>
            <p>
              <a href="mailto:ctg@creativeitinstitute.com"
                >ctg@creativeitinstitute.com</a
              >
            </p>
            <a href="tel:01847422965">+880 1847422965</a>
            <a href="tel:01847422959">+880 1847422959</a>
            <a href="tel:01847422966">+880 1847422966</a>
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./js/mixitup.min.js"></script>

    <script src="./js/bootstrap.bundle.min.js"></script>

    <script src="./js/app.js"></script>
    <script></script>
  </body>
</html>
