#facebookReview {
    padding: 60px 0;
}
#facebookReview .primary {
    text-align: center;
}
.allReviews {
    margin-top: 40px;
}
#facebookReview .slick-dots {
    text-align: center;
}

#facebookReview .slick-dots li {
    display: inline-block;
    margin: 0 10px;
}
#facebookReview .slick-dots li button {
    border: none;
    background-color: #ccc;
    color: transparent;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
#facebookReview .slick-dots li.slick-active button {
    background-color: #ee2e24;
}
