ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}
:root {
    --gradient: -webkit-linear-gradient(15deg, #ff1e1e 35%, #ff8079);
}
.preloader {
    position: fixed;
    inset: 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #fff;
    z-index: 99999999999999999999;
}

.preloader .preloader_img {
    min-width: 100%;
    width: 300px;
    max-width: 350px;
    height: 150px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-color: #fff;
}

.preloader .preloader_img img {
    width: 100%;
    -webkit-animation: preloader_img 0.5s ease-in 1 forwards;
    animation: preloader_img 0.5s ease-in 1 forwards;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}

.preloader .preloader_text {
    position: relative;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    z-index: -1;
    -webkit-animation: preloader_text 0.3s ease-in 0.5s 1 forwards;
    animation: preloader_text 0.3s ease-in 0.5s 1 forwards;
}

@-webkit-keyframes preloader_img {
    0% {
        -webkit-transform: scale(0.4) translate(0);
        transform: scale(0.4) translate(0);
    }
    50% {
        -webkit-transform: scale(0.5) translate(0);
        transform: scale(0.5) translate(0);
    }
    100% {
        -webkit-transform: scale(0.5) translateY(-180px);
        transform: scale(0.5) translateY(-180px);
    }
}

@keyframes preloader_img {
    0% {
        -webkit-transform: scale(0.4) translate(0);
        transform: scale(0.4) translate(0);
    }
    50% {
        -webkit-transform: scale(0.5) translate(0);
        transform: scale(0.5) translate(0);
    }
    100% {
        -webkit-transform: scale(0.5) translateY(-180px);
        transform: scale(0.5) translateY(-180px);
    }
}

@-webkit-keyframes preloader_text {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        font-size: 16px;
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        font-size: 16px;
    }
    100% {
        -webkit-transform: translateY(10px) scale(3);
        transform: translateY(10px) scale(3);
    }
}

@keyframes preloader_text {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        font-size: 16px;
    }
    50% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        font-size: 16px;
    }
    100% {
        -webkit-transform: translateY(10px) scale(3);
        transform: translateY(10px) scale(3);
    }
}

.fixedNav {
    -webkit-animation: fixedNav 0.4s ease-in 1 forwards;
    animation: fixedNav 0.4s ease-in 1 forwards;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    background-color: #fff;
}

@-webkit-keyframes fixedNav {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(58px);
        transform: translateY(58px);
    }
}

@keyframes fixedNav {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(58px);
        transform: translateY(58px);
    }
}

.activeLogo {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999 !important;
    width: 100%;
    background-color: #fff;
    -webkit-animation: fixedLogo 0.35s ease 1 forwards;
    animation: fixedLogo 0.35s ease 1 forwards;
    border: 1px solid white;
    overflow: hidden;
    z-index: 1;
}

.activeLogo::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #eeeeee;
    inset: 0;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

@-webkit-keyframes fixedLogo {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fixedLogo {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    cursor: url(../image/smallcursor.png), auto;
}

header {
    border: 1px solid white;
    overflow: hidden;
    padding: 45px 0;
    position: relative;
    z-index: 1;
    font-weight: 500;
}

/* header::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.34;
    background: url(http://127.0.0.1:5500/image/abstract_3d_object/bgHeroImage.webp);
    background-position: center;
    background-size: cover;
} */

header .logo img {
    display: block;
}

header .header_contact span {
    width: 45px;
    height: 45px;
    background-color: #ee2e24;
    text-align: center;
    line-height: 45px;
    color: white;
    display: block;
    border-radius: 50%;
    font-size: 1.2rem;
}

header .header_contact ul {
    list-style-type: none;
    margin-left: 15px;
}

header .header_contact ul a {
    color: #222222;
}

.fixedLogo img {
    height: 30px;
}

nav {
    -webkit-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin: 0;
    padding: 0 !important;
}

nav .navToggler {
    font-size: 40px;
}

nav #mycustomNav ul {
    text-align: center;
    margin: auto;
    width: 100%;
}

nav #mycustomNav li:last-child {
    background-color: #ee2e24;
}

nav #mycustomNav li:last-child a {
    color: #fff;
}

nav #mycustomNav a {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: #1f1e1e;
    padding: 18px 25px;
    position: relative;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

nav #mycustomNav a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.28s ease-in;
    transition: 0.28s ease-in;
    z-index: -1;
    -webkit-transform-origin: left;
    transform-origin: left;
}

nav #mycustomNav a.active,
nav #mycustomNav a:hover {
    color: white;
}

nav #mycustomNav a.active::after,
nav #mycustomNav a:hover::after {
    background-color: #ee2e24;
    color: white;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav #mycustomNav li.searchBarIcon {
    position: relative;
    cursor: pointer;
}

nav #mycustomNav li.searchBarIcon i.closeIcon {
    display: none;
}

nav #mycustomNav li.searchBarIcon .searchOption {
    display: none;
    position: absolute;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: 0;
    margin-top: 10px;
    z-index: 9;
}

nav #mycustomNav li.searchBarIcon .searchOption input {
    border: 1px solid #888;
    width: 300px;
    text-indent: 25px;
    height: 50px;
    z-index: 999999;
}
#about {
    padding: 20px 0 40px;
    text-align: center;
    position: relative;
}

#about .abstract_img img {
    position: absolute;
    width: 80px;
}

#about .abstract_img img.line {
    top: 36%;
    right: 71px;
    -webkit-filter: blur(0.6px);
    filter: blur(0.6px);
}

#about .abstract_img img.line:nth-child(2) {
    -webkit-transform: rotate(98deg);
    transform: rotate(98deg);
    top: 48%;
    left: 120px;
    z-index: -1;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

#about .abstract_img img.sprial2 {
    bottom: 50px;
    right: 300px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 50px;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: -1;
}

#about .abstract_img img.spiral {
    top: 1px;
    width: 50px;
    left: 9%;
}

#about .abstract_img img.balls {
    width: 50px;
    top: 0;
    right: 10%;
}

#about h1 {
    font-size: 2rem;
    font-size: 700;
    margin-bottom: 20px;
}

#about h1 span {
    color: #ee2e24;
}

#about p {
    text-align: justify;
    color: #2c2c2c;
    font-size: 1.1rem;
    line-height: 25px;
}

#about p a {
    color: #e9252b;
    font-weight: 500;
}

#seminar {
    padding: 60px 0;
    position: relative;
}

#seminar .intro h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #1f1e1e;
    text-transform: capitalize;
    margin: auto;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    font-size: clamp(1.6rem, 2.8vw, 2.5rem);
    margin-bottom: 20px;
    font-weight: 600;
}

#seminar .intro h2::after,
#seminar .intro h2.aos-animate::after {
    content: "";
    width: 0px;
    height: 4px;
    border-radius: 25px;
    background-color: #22222257;
    position: absolute;
    left: 50%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#seminar .intro h2.aos-animate::after {
    -webkit-animation: expand 0.78s ease 0.2s 1 forwards;
    animation: expand 0.78s ease 0.2s 1 forwards;
}

@keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}

#seminar .intro p {
    text-align: center;
    font-size: 1.1rem;
    width: 60%;
    max-width: 100%;
    margin: 40px auto 0;
    color: #575757;
}

#seminar .table_container table {
    text-align: center;
    min-width: 800px;
    width: 100%;
    margin-top: 50px;
    font-family: arial;
}

#seminar .table_container table tr:nth-child(1) {
    background-color: #49596d;
    color: #fff;
}

#seminar .table_container table th {
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    font-weight: 500;
    padding: 20px 0;
    border-right: 1px solid white;
}

#seminar .table_container table td {
    font-size: 1rem;
    color: #222222;
    padding: 15px 0;
    border: 1px solid #eee;
}

#seminar .table_container table td a {
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    margin: auto;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    background-color: #49596d;
    -webkit-transition: 0.15s ease;
    transition: 0.15s ease;
}

#seminar .table_container table td a:hover {
    background-color: #53657c;
}

#seminar .seminar_model {
    position: fixed;
    inset: 0;
    z-index: 999999;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background-color: #fff;
    
}

#seminar .seminar_model .card {
    width: 90%;
    max-width: 500px;
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: black;
}

#seminar .seminar_model .card span {
    cursor: pointer;
    position: absolute;
    top: 41px;
    right: 20px;
}

#seminar .seminar_model .card .logo {
    position: absolute;
    left: 50%;
    top: -45px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #e8e8e8;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#seminar .seminar_model .card .logo img {
    height: 40px;
}

#seminar .seminar_model .card .card-header {
    text-align: center;
    text-transform: uppercase;
    padding-top: 40px !important;
    border: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#seminar .seminar_model .card .card-header p {
    margin-right: -5px;
    font-weight: 600;
}

#seminar .seminar_model .card .card-body {
    min-height: 360px;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
}

#seminar .seminar_model .card form label {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 0;
    color: #333;
}

#seminar .seminar_model .card form select,
#seminar .seminar_model .card form textarea,
#seminar .seminar_model .card form input {
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 0;
}

#seminar .seminar_model .card form select:focus,
#seminar .seminar_model .card form textarea:focus,
#seminar .seminar_model .card form input:focus {
    -webkit-box-shadow: 0px 0px 5px rgba(33, 111, 255, 0.432);
    box-shadow: 0px 0px 5px rgba(33, 111, 255, 0.432);
    border-color: #659bff;
}

#seminar .seminar_model .card form button {
    margin: 12px 0 0;
    background-image: linear-gradient(60deg, #ee2e24, #e9252b);
    border: none;
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding: 10px 0;
    color: #fff;
    font-size: 1.2rem;
}

#seminar .modalActive {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#blog {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#f0f4f821),
        to(#e6e7e7bb)
    );
    background-image: linear-gradient(180deg, #f0f4f821, #e6e7e7bb);
    padding: 60px 0;
}

#blog .intro h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #49596d;
    text-transform: capitalize;
    margin: auto;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    font-size: clamp(1.6rem, 2.8vw, 2.5rem);
    margin-bottom: 20px;
    font-weight: 600;
}

#blog .intro h2::after,
#blog .intro h2.aos-animate::after {
    content: "";
    width: 0px;
    height: 4px;
    border-radius: 25px;
    background-color: #49596d;
    position: absolute;
    left: 50%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#blog .intro h2.aos-animate::after {
    -webkit-animation: expand 0.78s ease 0.2s 1 forwards;
    animation: expand 0.78s ease 0.2s 1 forwards;
}

@keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}

#blog .intro p {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.45rem);
    margin: 10px 0;
}

#blog a {
    color: #222222;
}

#blog .success_card {
    overflow: hidden;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#blog .success_card:hover .card_img img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#blog .success_card .card_img {
    height: 250px;
    overflow: hidden;
}

#blog .success_card .card_img img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    -webkit-transform: scale(2);
    transform: scale(2);
}

#blog .success_card .card_text {
    padding: 20px;
    font-family: "Encode Sans", sans-serif;
}

#blog .success_card .card_text h3 {
    font-size: 1.2rem;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
}

#blog .success_card .card_text p {
    font-size: 15px;
    color: #555;
}

#blog .success_card .card_text button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: 0;
    background-color: #ee2e24;
    color: white;
    border-radius: 3px;
    padding: 10px 15px;
    border: none;
    outline: none;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
}

#blog .success_card .card_text button:hover {
    background-color: #cf1a10;
}

#blog .view__more {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: 50px auto 0;
    background-color: #ee2e24;
    color: white;
    border-radius: 3px;
    padding: 10px 15px;
    border: none;
    outline: none;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
}

#blog .view__more:hover {
    background-color: #cf1a10;
}

#contact {
    padding: 80px 0;
}

#contact .contact_form h2 {
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

#contact .contact_form h2 span {
    font-family: "Encode Sans", sans-serif;
    font-size: clamp(1.8rem, 3vw, 2.8rem);
    font-weight: 600;
}

#contact .contact_form input {
    margin: 15px 0;
    border-color: #ddd;
    height: 50px;
}

#contact .contact_form input:focus {
    border: 1px solid #5d9bff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#contact .contact_form button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: 0;
    background-color: #ee2e24;
    color: white;
    border-radius: 3px;
    padding: 15px 25px;
    border: none;
    outline: none;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
}

#contact .contact_form button:hover {
    background-color: #cf1a10;
}

#contact .contact_img img {
    width: 50%;
    display: block;
    margin: auto;
}

#facilities {
    padding: 60px 0;
}

#facilities .intro h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #1f1e1e;
    text-transform: capitalize;
    margin: auto;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    font-size: clamp(1.6rem, 2.8vw, 45rem);
    margin-bottom: 20px;
}

#facilities .intro h2::after,
#facilities .intro h2.aos-animate::after {
    content: "";
    width: 0px;
    height: 4px;
    border-radius: 25px;
    background-color: #1f1e1e70;
    position: absolute;
    left: 50%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#facilities .intro h2.aos-animate::after {
    -webkit-animation: expand 0.78s ease 0.2s 1 forwards;
    animation: expand 0.78s ease 0.2s 1 forwards;
}

@keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}

#facilities .intro p {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.45rem);
    margin: 40px auto 0;
}

#facilities .facilities_cards {
    margin-top: 80px;
}

#facilities .facility_card {
    margin-bottom: 50px;
    padding: 20px 30px;
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#facilities .facility_card:hover {
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: -20px;
}

#facilities .facility_card h3 {
    margin: 30px 0;
    font-weight: 500;
    color: #222222;
}

#facilities .facility_card p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 28px;
    color: #555;
}

footer {
    padding: 80px 0 0;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

footer::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../image/abstract_3d_object/bgHeroImage.webp);
    background-position: center;
    background-size: cover;
    opacity: 0.45;
    background-repeat: no-repeat;
    z-index: -1;
}

footer .logo {
    text-align: center;
}

footer .logo img {
    height: 120px;
}

footer .logo h4 {
    margin: 15px 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

footer .location h4 {
    font-size: 1.6rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 2px solid #49596d;
}

footer .location address {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 28px;
    color: #222222;
    font-family: "Encode Sans", sans-serif;
}

footer .contact h4 {
    font-size: 1.6rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 2px solid #49596d;
}

footer .contact p {
    margin: 10px 0 0 0;
}

footer .contact a {
    font-family: "Encode Sans", sans-serif;
    font-size: 1.1rem;
    color: #222222;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

footer .contact ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}

footer .contact ul a {
    margin-right: 30px;
    font-size: 1.1rem;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #444444c5;
    -webkit-transition: 0.15s ease-in;
    transition: 0.15s ease-in;
}

footer .contact ul a:hover {
    background-color: #ee2e24;
    border-color: #ee2e24;
    color: white;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

footer .copyright {
    margin-top: 60px;
    font-weight: 500;
    text-align: center;
    padding: 0 100px;
}

footer .copyright span a {
    color: #000;
    font-weight: 700;
}

.breadcrum {
    padding: 40px 0px;
    text-align: center;
    background-color: #efefef;
    margin: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.breadcrum h2 {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Encode Sans", sans-serif;
}

.breadcrum a {
    font-weight: 500;
    color: #222222;
    font-size: 1.1rem;
}

.breadcrum a.active {
    color: #ee2e24;
}

#courseView {
    padding: 60px 0;
}

#courseView h1.courseHeading,
#courseView .aboutCourse h3,
#courseView .courseFeatures h3,
#courseView .softwares h3,
#courseView .marketPlace h3,
#courseView .prerequisites h3,
#courseView .career h3 {
    font-weight: 500;
    font-size: clamp(1.2rem, 2.5vw, 2.2rem);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    color: #2c2c2c;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#courseView h1.courseHeading::after,
#courseView .aboutCourse h3::after,
#courseView .courseFeatures h3::after,
#courseView .softwares h3::after,
#courseView .marketPlace h3::after,
#courseView .prerequisites h3::after,
#courseView .career h3::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 20%;
    height: 4px;
    border-radius: 15px;
    opacity: 0.8;
    background-color: #ee2e24;
}

#courseView .video_container {
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

#courseView .video_container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border: 0;
}

#courseView .img_container {
    aspect-ratio: 16/9;
    border-radius: 15px;
    overflow: hidden;
}

#courseView .img_container img {
    width: 100%;
    height: 100%;
}

#courseView .aboutCourse h3 {
    font-size: 1.7rem;
    margin: 40px 0 20px;
}

#courseView .aboutCourse p {
    text-align: justify;
    line-height: 25px;
}

#courseView .courseFeatures {
    padding: 60px 0;
}

#courseView .courseFeatures h3 {
    margin: auto;
}

#courseView .courseFeatures h3::after {
    width: 40%;
    opacity: 0.5;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#courseView .courseFeatures .featureCard {
    margin: 80px 0 20px;
    text-align: center;
    padding: 40px 20px 70px;
    border-radius: 15px;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    min-height: 550px;
    max-height: 800px;
    position: relative;
}

#courseView .courseFeatures .featureCard.fullView {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
}

#courseView .courseFeatures .featureCard img {
    display: inline-block;
    margin-left: -20px;
    width: 20%;
}

#courseView .courseFeatures .featureCard h4 {
    font-size: 1.5rem;
    color: white;
    background-color: #f1524a;
    padding: 15px 0;
    margin: 20px 0;
    border-radius: 5px;
}

#courseView .courseFeatures .featureCard .card_body p {
    font-size: 1.3rem;
    font-weight: 500;
}

#courseView .courseFeatures .featureCard .card_body p.strick {
    text-decoration: line-through;
    color: #ee2e24;
    font-size: 1.1rem;
}

#courseView .courseFeatures .featureCard .card_body p > i {
    display: none;
}

#courseView .courseFeatures .featureCard .card_body p.strick i {
    display: inline-block;
}

#courseView .courseFeatures .featureCard .button_container {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

#courseView .courseFeatures .featureCard .button_container .featured_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 15px 25px;
    background-color: #f1524a;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

#courseView .softwares h3,
#courseView .marketPlace h3 {
    font-size: 1.7rem;
    margin: 40px 0 20px;
}

#courseView .softwares img,
#courseView .marketPlace img {
    width: 100%;
    max-width: 100px;
    display: block;
    margin: auto;
}

@media (min-width: 768px) {
    #courseView .softwares img,
    #courseView .marketPlace img {
        margin: 0;
    }
}

#courseView .prerequisites {
    padding: 30px 0;
}

#courseView .prerequisites h3 {
    font-size: 1.7rem;
    margin: 40px 0 20px;
}

#courseView .prerequisites p {
    font-weight: 500;
    font-size: 1.2rem;
}

#courseView .career h3 {
    font-size: 1.7rem;
    margin: 40px 0 20px;
}

#courseView .career p {
    font-size: 1.1rem;
    text-align: justify;
}

#courseView .career p.list {
    font-family: "Encode Sans", sans-serif;
    font-weight: 700;
    margin-left: 20px;
    position: relative;
}

#courseView .career p.list::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f1524a;
    position: absolute;
    top: 10px;
    left: -20px;
}

#courseView .career .joinSeminar {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px 20px;
    color: #4f4f4f;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

#courseView .career .joinSeminar:hover {
    background-color: #ee2e24;
    color: white;
}

#breadcrum {
    padding: 40px 0;
    padding: 40px 0px;
    text-align: center;
    background-color: #efefef;
    margin: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

#breadcrum h2 {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Encode Sans", sans-serif;
}

#breadcrum a {
    font-weight: 500;
    color: #222222;
    font-size: 1.1rem;
}

#breadcrum a.active {
    color: #ee2e24;
}

#info {
    text-align: justify;
    padding-top: 30px;
}

#missionVission {
    padding: 40px 0;
}

#missionVission h2 {
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    color: #2c2c2c;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#missionVission h2::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 20%;
    height: 4px;
    border-radius: 15px;
    opacity: 0.8;
    background-color: #ee2e24;
}

#missionVission p {
    font-size: 1rem;
    text-align: justify;
}

#missionVission p {
    margin-left: 20px;
    position: relative;
}

#missionVission p::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f1524a;
    position: absolute;
    top: 12px;
    left: -20px;
}

#missionVission .vission {
    margin-top: 40px;
}

.breadcrum {
    padding: 40px 0px;
    text-align: center;
    background-color: #efefef;
    margin: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.breadcrum h2 {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Encode Sans", sans-serif;
}

.breadcrum a {
    font-weight: 500;
    color: #222222;
    font-size: 1.1rem;
}

.breadcrum a.active {
    color: #ee2e24;
}

#stories {
    padding: 60px 0;
    text-align: justify;
    font-size: clamp(1rem, 3vw, 1.2rem);
    line-height: calc(1.2rem * 1.5);
}

.youtubeThumb {
    aspect-ratio: 16/9;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
}

.youtubeThumb .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.15);
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.youtubeThumb .overlay img {
    width: 50px;
    height: 50px;
    border: none;
    display: block;
}

.youtubeThumb iframe,
.youtubeThumb img {
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#faculties {
    padding: 60px 0;
}

#faculties .faculties_filter .filter_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30;
}

#faculties .faculties_filter .filter_buttons button {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.164);
    -webkit-box-shadow: 0 4px 16px 2px rgba(31, 38, 135, 0.2);
    box-shadow: 0 4px 16px 2px rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.658);
    margin-right: 20px;
    display: block;
    padding: 0 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 1.1rem;
    font-weight: 500;
}

#faculties .faculties_filter .filter_buttons button::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    background-color: #ee2e24;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#faculties .faculties_filter .filter_buttons button.mixitup-control-active,
#faculties .faculties_filter .filter_buttons button:hover {
    color: white;
    border: 1px solid #ee2e24;
}

#faculties
    .faculties_filter
    .filter_buttons
    button.mixitup-control-active::after,
#faculties .faculties_filter .filter_buttons button:hover::after {
    -webkit-transform: translate(-50%, -50%) scale(15);
    transform: translate(-50%, -50%) scale(15);
}

#faculties .filterable_container {
    margin-top: 80px;
}

#faculties .filterable_container .faculty_card {
    padding: 30px 0;
    margin-bottom: 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#faculties .filterable_container .faculty_img img {
    width: 100%;
    display: block;
}

#faculties .filterable_container .faculty_detail h2 {
    font-size: clamp(1.2rem, 15vw, 1.8rem);
}

#faculties .filterable_container .faculty_detail span.designation {
    font-size: 1rem;
    display: inline-block;
    font-weight: 500;
}

#faculties .filterable_container .faculty_detail h4 {
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    color: #2c2c2c;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#faculties .filterable_container .faculty_detail h4::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 20%;
    height: 4px;
    border-radius: 15px;
    opacity: 0.8;
    background-color: #ee2e24;
}

#faculties .filterable_container .faculty_detail p {
    font-size: 1rem;
    text-align: justify;
}

#faculties .filterable_container .faculty_detail p {
    margin-left: 20px;
    position: relative;
}

#faculties .filterable_container .faculty_detail p::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f1524a;
    position: absolute;
    top: 12px;
    left: -20px;
}

#faculties .filterable_container .faculty_detail img {
    max-width: 85px;
    display: inline-block;
    margin-right: 10px;
}

#blogLandingSection {
    padding: 40px 0;
}

#blogLandingSection .gridLayout {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
}

#blogLandingSection .gridLayout .blogCard {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

#blogLandingSection .gridLayout .blogCard img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#blogLandingSection .gridLayout .blogCard.activeBlogCard .overlay p {
    font-size: clamp(1.2rem, 3vw, 2.2rem);
    font-weight: 500;
}

#blogLandingSection .gridLayout .blogCard .overlay {
    position: absolute;
    inset: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 20px 20px;
    background-image: linear-gradient(
        356deg,
        black 5%,
        rgba(0, 0, 0, 0.689),
        transparent
    );
    color: white;
}

#blogLandingSection .gridLayout .blogCard .overlay p {
    font-size: 1.2rem;
    font-weight: 500;
}

#blogView {
    padding: 60px 0;
}

#blogView .blog_img {
    height: 40rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#blogView .blog_img .img {
    z-index: -1;
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#blogView .blog_img::after {
    content: "";
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(10%, rgba(35, 35, 35, 0.928)),
        to(rgba(255, 255, 255, 0))
    );
    background-image: linear-gradient(
        360deg,
        rgba(35, 35, 35, 0.928) 10%,
        rgba(255, 255, 255, 0)
    );
    position: absolute;
    inset: 0;
    z-index: -1;
}

#blogView .blog_img .overlay {
    width: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 0px 50px 40px;
}

#blogView .blog_img .overlay .tag {
    display: inline-block;
    margin-right: 10px;
    font-size: 0.9rem;
}

#blogView .blog_img .overlay .tag ~ h1 {
    margin: 12px 0;
}

#blogView .blog_component {
    display: -ms-grid;
    display: grid;
    gap: 1.5rem;
}

#blogView .blog_component .blog_detail {
    padding: 40px 0;
}

#blogView .blog_component .blog_detail h2,
#blogView .blog_component .blog_detail h3,
#blogView .blog_component .blog_detail h4,
#blogView .blog_component .blog_detail h5,
#blogView .blog_component .blog_detail h6 {
    font-family: "Encode Sans", sans-serif;
    font-weight: 700;
}

#blogView .blog_component .blog_detail h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
}

#blogView .blog_component .blog_detail img {
    width: 100%;
    display: block;
}

#blogView .blog_component .blog_detail h3,
#blogView .blog_component .blog_detail h4,
#blogView .blog_component .blog_detail h5,
#blogView .blog_component .blog_detail h6 {
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    color: #2c2c2c;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

#blogView .blog_component .blog_detail h3::after,
#blogView .blog_component .blog_detail h4::after,
#blogView .blog_component .blog_detail h5::after,
#blogView .blog_component .blog_detail h6::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 20%;
    height: 4px;
    border-radius: 15px;
    opacity: 0.8;
    background-color: #ee2e24;
}

#blogView .blog_component .blog_detail p {
    text-align: justify;
    margin: 15px 0;
    line-height: 25px;
}

#blogView .blog_component aside {
    padding: 40px 20px;
    border: 1px solid #eee;
}

#blogView .blog_component aside h4 {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Encode Sans", sans-serif;
}

#blogView .blog_component aside .search form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#blogView .blog_component aside .search input {
    width: 70%;
    height: 50px;
    text-indent: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
    font-family: "Encode Sans", sans-serif;
}

#blogView .blog_component aside .search input:focus {
    border: 1px solid #00a6ff;
    -webkit-box-shadow: 0 0 8px rgba(0, 166, 255, 0.21);
    box-shadow: 0 0 8px rgba(0, 166, 255, 0.21);
}

#blogView .blog_component aside .search button {
    width: 30%;
    border: none;
    outline: none;
    background-color: #f1524a;
    color: white;
    height: 50px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.12s;
    transition: 0.12s;
}

#blogView .blog_component aside .search button:hover {
    background-color: #c5180f;
}

#blogView .blog_component aside .related_blog {
    padding: 40px 0;
}

#blogView .blog_component aside .related_blog .blog_post {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

#blogView .blog_component aside .related_blog .blog_post:last-child {
    border: none;
}

#blogView .blog_component aside .related_blog .blog_post img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
    max-height: 280px;
}

#blogView .blog_component aside .related_blog .blog_post h4 {
    font-weight: 1.2rem;
    color: #222222;
    margin: 5px 0;
}
